<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ .Site.Params.description }}">

        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ .Site.BaseURL }}">
        <meta property="og:image" content="{{ .Site.BaseURL }}images/grass.webp }}">
        <meta property="og:site_name" content="{{ .Title }}">
        <meta property="og:locale" content="en_US">
        <meta property="og:description" content="{{ .Site.Params.description }}">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site:id" content="{{ .Site.Params.twitter }}">
        <meta name="twitter:title" content="{{ .Title }}">
        <meta name="twitter:description" content="{{ .Site.Params.description }}">
        <meta name="twitter:image" content="{{ .Site.BaseURL }}images/grass.webp?12">
        <link href="https://fonts.googleapis.com/css?family=Grenze" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Uncial+Antiqua" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Germania+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Almendra&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap" rel="stylesheet"> 

        <title>{{.Title}}</title>

        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>
    <body>
        <section id="page-title">
            <a href="{{ .Site.BaseURL }}"><img src={{"/images/grass.webp"}} class="logo"></a>
        </section>
